/* I was much quicker on laying out the html file, see how we do here */
/* Responsive page styles universal */
html {
   font-size: 18px;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}

h4 {
  font-weight: bold;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

         /* Company Header */
.company {
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  font-family: Helvetica;
  padding-top: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.container img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

nav li {
  display: inline-block;
  padding: 1rem 2rem;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  padding-left: 1rem;
  padding-top: 1rem;
}

        /* Main Banner Section */

.main-banner {
 height: 50rem;
}

.main-banner {
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");

}

.headline {
  background-color: white;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 5rem 1.5rem;
  margin-top: 30rem;
  margin-left: 40rem;
}

h1 {
  margin: 1rem 2rem;
  display: block;
}
